/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
  //background: #191622;
  // background: #282a36;
  // height: 100%;
}
