<form [formGroup]="loginForm" (ngSubmit)="joinChat()">
    <div class="user-input">
        <label *ngIf="hasNoAuthToken()" for="username">
            Username:
            <input id="username" formControlName="username">
        </label>

        <label *ngIf="hasNoAuthToken()" for="password">
            Password:
            <input id="password" type="password" formControlName="password">
        </label>

        <label for="chatid">
            Chat ID:
            <input id="chatid" formControlName="chatId">
        </label>

        <button class="join" [disabled]="loginForm.invalid" type="submit">
            Join
        </button>

        <button *ngIf="!hasNoAuthToken()" class="logout">
            Logout
        </button>
    </div>
</form>