.chat-room {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-right: 1em;

  height: 95vh;
  width: 90vw;

  background-color: white;
  border-radius: 4px;

  flex-direction: column;

  .info {
    height: 7%;
    width: 90%;

    border-bottom: 1px solid #f1f1f1;
  }

  .messages {
    display: flex;
    margin-top: 1.2em;
    height: 100%;
    width: 100%;
    flex-direction: column;

    .message {
      margin: 0 1em 0.5em 1em;

      align-self: flex-start;
      // background-color: #c5e3f6;
      background-color: lighten(#2d6cdf, 35%);
      padding: 1em;
      border-radius: 8px;

      &.self {
        align-self: flex-end;
        background-color: lighten(#2d6cdf, 20%);

        // background-color: #46c3db;
      }
    }
  }

  form {
    width: 100%;

    .send-message {
      display: flex;
      width: 100%;
      margin-bottom: 1em;

      input {
        margin-left: 1em;
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 2px solid #2d6cdf;
      }

      button {
        outline: none;
        border: none;
        background-color: transparent;
        margin-left: 1em;
        transition: 0.2s;

        color: #2d6cdf;
        font-weight: 600;

        &:active {
          color: darken($color: #2d6cdf, $amount: 25%);
        }
      }
    }
  }
}
